body{
    background-color: #fff5ee;
}


h1{
  font-size: 40px;
  text-align: center;

}

.foto-omne{
    width:200px;
    border-radius: 50%;
    float:left; 
}

.hlavicka {
    background-image: url(header.jpeg);
    background-size: cover;
    padding: 150px 30px;
    height: 200px;
    
}

.menu {
    margin:0;
    padding:0;
    text-align: center;
    background-color: #282425;
}

.menu li {
    display:inline-block;
    

}

.menu a{
    display: inline-block;
    color:white;
    text-decoration: none;
    padding: 20px 30px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #756158;
}